USE [PhoneStoreWeb]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [date] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nchar](10) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [date] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentNews]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentNews](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Star] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [date] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
	[NewsId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedById] [int] NULL,
	[CreatedOn] [date] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount](
	[discountID] [int] IDENTITY(1,1) NOT NULL,
	[discountName] [nvarchar](max) NULL,
	[discountCode] [varchar](20) NULL,
	[discountPercentage] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[discountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[NewsGroupId] [int] NULL,
	[heading] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [date] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsGroup]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsGroup](
	[NewsGroupId] [int] IDENTITY(1,1) NOT NULL,
	[NewsGroupName] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [date] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[TotalPrice] [float] NULL,
	[Address] [nvarchar](max) NULL,
	[AdminId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [date] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
	[status] [nvarchar](max) NULL,
	[shipCost] [float] NULL,
	[discountCost] [float] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[OrderId] [int] NULL,
	[ListPrice] [float] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [date] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
	[status] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [date] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ProductImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [date] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
	[ProductId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[reviewID] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[star] [int] NULL,
	[time_new] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[reviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/14/2024 1:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Rolename] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [date] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminId], [FirstName], [LastName], [UserName], [Password], [RoleId], [Email], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (5, N'Lê Duy Tống', NULL, N'admin1', N'8bfe7eede536ca9d583a6c9b241c001d', 1, N'', NULL, CAST(N'2024-01-06' AS Date), NULL, NULL)
INSERT [dbo].[Admin] ([AdminId], [FirstName], [LastName], [UserName], [Password], [RoleId], [Email], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (7, N'Phạm Văn Trà', N'', N'staff12345', N'8bfe7eede536ca9d583a6c9b241c001d', 2, N'', 5, CAST(N'2024-01-17' AS Date), 10, CAST(N'2024-01-18' AS Date))
INSERT [dbo].[Admin] ([AdminId], [FirstName], [LastName], [UserName], [Password], [RoleId], [Email], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (11, N'Cao Quang Đạt', NULL, N'12345', N'8bfe7eede536ca9d583a6c9b241c001d', 2, NULL, 7, CAST(N'2024-01-30' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'Iphone    ', NULL, NULL, NULL, NULL)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, N'Samsung   ', NULL, NULL, NULL, NULL)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, N'Oppo      ', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CommentNews] ON 

INSERT [dbo].[CommentNews] ([CommentID], [Content], [Star], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [NewsId]) VALUES (5, N'thông tin hay', 3, 4, CAST(N'2024-03-07' AS Date), NULL, NULL, 6)
INSERT [dbo].[CommentNews] ([CommentID], [Content], [Star], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [NewsId]) VALUES (9, N'Elon musk là thiên tài ', 4, 4, CAST(N'2024-03-07' AS Date), NULL, NULL, 8)
INSERT [dbo].[CommentNews] ([CommentID], [Content], [Star], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [NewsId]) VALUES (10, N'thông báo', 4, 4, CAST(N'2024-03-07' AS Date), NULL, NULL, 6)
SET IDENTITY_INSERT [dbo].[CommentNews] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [FullName], [Password], [UserName], [Email], [Phone], [Address], [CreatedById], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'Nguyễn Thế Anh', N'8bfe7eede536ca9d583a6c9b241c001d', N'theanh', N'theanh123@gmail.com', N'0342652356', N'Xã Đình Phùng,Huyện Bảo Lạc,Tỉnh Cao Bằng', NULL, CAST(N'2024-01-14' AS Date), NULL, NULL)
INSERT [dbo].[Customer] ([CustomerId], [FullName], [Password], [UserName], [Email], [Phone], [Address], [CreatedById], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, N'phạm duy tú', N'8bfe7eede536ca9d583a6c9b241c001d', N't1', N'duyuy12@gmail.com', N'09237461231', N'Cao lỗ - Đông anh', NULL, CAST(N'2024-01-15' AS Date), NULL, NULL)
INSERT [dbo].[Customer] ([CustomerId], [FullName], [Password], [UserName], [Email], [Phone], [Address], [CreatedById], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (4, N'kimlong', N'8bfe7eede536ca9d583a6c9b241c001d', N't2', N'klt2@gmail.com', N'0923712341', N'Xã Quảng Khê,Huyện Ba Bể,Tỉnh Bắc Kạn', 11, CAST(N'2024-01-15' AS Date), 10, CAST(N'2024-01-18' AS Date))
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[discount] ON 

INSERT [dbo].[discount] ([discountID], [discountName], [discountCode], [discountPercentage]) VALUES (1, N'Giam 10%', N'ABCJJFH6XD', CAST(0.10 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[discount] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsGroup] ON 

INSERT [dbo].[NewsGroup] ([NewsGroupId], [NewsGroupName], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'Tin khuyến mãi', 5, CAST(N'2024-01-06' AS Date), 5, CAST(N'2024-01-06' AS Date))
INSERT [dbo].[NewsGroup] ([NewsGroupId], [NewsGroupName], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, N'Tin công nghệ', 5, CAST(N'2024-01-06' AS Date), NULL, CAST(N'2024-01-06' AS Date))
SET IDENTITY_INSERT [dbo].[NewsGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [CustomerId], [TotalPrice], [Address], [AdminId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [status], [shipCost], [discountCost]) VALUES (1, 4, 36580000, N'Kim mã- lam ninh', 7, 4, CAST(N'2024-03-09' AS Date), NULL, NULL, N'Delivered', NULL, 0)
INSERT [dbo].[Order] ([OrderId], [CustomerId], [TotalPrice], [Address], [AdminId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [status], [shipCost], [discountCost]) VALUES (2, 4, 20580000, N'Kim mã- lam ninh', 7, 4, CAST(N'2024-03-09' AS Date), NULL, NULL, N'Cancel', NULL, 0)
INSERT [dbo].[Order] ([OrderId], [CustomerId], [TotalPrice], [Address], [AdminId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [status], [shipCost], [discountCost]) VALUES (3, 9, 24990000, N'Sóc Sơn-Hà Nội gần', 7, 9, CAST(N'2024-03-09' AS Date), NULL, NULL, N'Delivered', NULL, 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailsId], [ProductId], [Quantity], [OrderId], [ListPrice], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [status]) VALUES (1, 3, 1, 1, 24990000, 4, CAST(N'2024-03-09' AS Date), NULL, NULL, N'Delivered')
INSERT [dbo].[OrderDetails] ([OrderDetailsId], [ProductId], [Quantity], [OrderId], [ListPrice], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [status]) VALUES (2, 6, 1, 1, 11590000, 4, CAST(N'2024-03-09' AS Date), NULL, NULL, N'Delivered')
INSERT [dbo].[OrderDetails] ([OrderDetailsId], [ProductId], [Quantity], [OrderId], [ListPrice], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [status]) VALUES (3, 7, 2, 2, 10290000, 4, CAST(N'2024-03-09' AS Date), NULL, NULL, N'Cancel')
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [CategoryId], [Name], [Description], [Quantity], [Price], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Capacity]) VALUES (3, 1, N'iPhone12 Pro', N'Ra mắt vào cuối năm 2020, iPhone 12 series mang đến một luồng gió với trong phân khúc smartphone cao cấp. Với thiết kế đổi mới đột phá so với thế hệ trước cùng nhiều nâng cấp về hiệu năng đáng kể trên iPhone 12 Pro. Đây sẽ là một trong những chiếc điện thoại đáng được bạn lựa chọn nhất so với các chiếc điện thoại khác cùng phân khúc giá.', 20, 24990000, 5, CAST(N'2023-02-12' AS Date), NULL, NULL, 128)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([ProductImageId], [ImagePath], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [ProductId]) VALUES (1, N'iphone_12_pro.png', NULL, NULL, NULL, NULL, 3)
INSERT [dbo].[ProductImage] ([ProductImageId], [ImagePath], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [ProductId]) VALUES (2, N'iphone-12.png', NULL, NULL, NULL, NULL, 6)
INSERT [dbo].[ProductImage] ([ProductImageId], [ImagePath], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [ProductId]) VALUES (3, N'iphone-11.png', NULL, NULL, NULL, NULL, 7)
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([reviewID], [ProductId], [CustomerId], [comment], [star], [time_new]) VALUES (6, 3, 4, N'Great!!!', 5, N'2024-03-09')
INSERT [dbo].[Review] ([reviewID], [ProductId], [CustomerId], [comment], [star], [time_new]) VALUES (7, 6, 4, N'Its good', 4, N'2024-03-09')
INSERT [dbo].[Review] ([reviewID], [ProductId], [CustomerId], [comment], [star], [time_new]) VALUES (8, 3, 9, N'Khác tốt trong tầm giá', 4, N'2024-03-09')
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Rolename], [Description], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'Admin', N'Chủ cửa hàng', NULL, CAST(N'2024-01-04' AS Date), NULL, NULL)
INSERT [dbo].[Role] ([RoleId], [Rolename], [Description], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, N'OrderStaff', N'Nhân viên hỗ trợ đơn hàng', NULL, CAST(N'2024-01-14' AS Date), NULL, NULL)
INSERT [dbo].[Role] ([RoleId], [Rolename], [Description], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, N'Staff', N'Nhân viên quản lý sản phẩm', NULL, CAST(N'2024-01-27' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[CommentNews]  WITH CHECK ADD  CONSTRAINT [FK_Customer_CommentNews] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[CommentNews] CHECK CONSTRAINT [FK_Customer_CommentNews]
GO
ALTER TABLE [dbo].[CommentNews]  WITH CHECK ADD  CONSTRAINT [FK_News_CommentNews] FOREIGN KEY([NewsId])
REFERENCES [dbo].[News] ([NewsId])
GO
ALTER TABLE [dbo].[CommentNews] CHECK CONSTRAINT [FK_News_CommentNews]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([NewsGroupId])
REFERENCES [dbo].[NewsGroup] ([NewsGroupId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([AdminId])
REFERENCES [dbo].[Admin] ([AdminId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
